h1 {
    color: blueviolet;
}

button:hover {
    background-color: darksalmon;
    cursor: pointer;
    font-size: 20px;
}

#title {
    text-align: center;
    padding-top: 200px;
    background-image: url('../images/Patterns.jpg');
    background-position: center top;
}